*{
    margin: 0;
    padding: 0;
    color: rgb(165, 355, 238);
    line-height: 1.5;
}

.header{
    background-color: rgba(0, 0, 0, 0.800);
    padding-bottom: 10px;
}
.body{
    background-color: black;
    
}

a{
    color: white;
    text-decoration: none;
}
.defaulthome{
    padding-top: 1.5vh;
    padding-left: 12px;
    margin-bottom: 2vh;
}
.defaulthome a:link, a:visited {
    font-size: 24px;
} 


.navlinks li {
    display: inline;
    margin: 24px;
    position: relative;
    list-style: none;
}

.navlinks a:link, a:visited {
    font-size: 18px;
        
}
.navlinks a:hover, a:active {
    background-color: gray;
}

/*Achievement title position*/
.title{
    padding: 100px;
    text-align: center;
    line-height: 40px;
    line-height: 1.35em;
}

/*achievement list*/
.para li{
    color: white;
    text-align: left;
}

/*year colour*/
h3{
    color: white;
}

.body{
    min-height: 75vh;
    text-align: center;
    padding-bottom: 10vh;
}

/*create two colummns*/
.wrapper{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-row-gap: 2rem;
    grid-auto-rows: minmax(auto);
}



/*for tablet site*/
@media (max-width: 768px) {
    .para {
        padding-right: 10px;
    }

}

/*for mobile site*/
@media(max-width: 480px){
    
    .body{
        min-height: 75vh;
        text-align: center;
        padding-bottom: 4vh;
        
    }
    .navlinks
    {
        display:none;
    }
    .defaulthome{
        float: right;
        margin-right: 5vw;
        margin-bottom: 0;
    }
    .header{
        background-color: rgba(0, 0, 0, 0.800);
        padding-bottom: 0px;
    }
    .title{
        text-align: center;
        line-height: 40px;
        line-height: 1.35em;
        padding: 25px;
        
    }
    .subheader{
        font-size: 14px;
        padding-bottom: 10px;
        text-align: left;
    }
    .wrapper{
        display: inline-block;
        width: 80vw;
    }
    .para{
        padding-bottom: 2rem;
    }


}